@font-face {
	font-family: 'Source Serif';
	font-style: normal;
	src:
		url(/static/fonts/SourceSerif/SourceSerif4Variable-Roman.otf.woff2) format("woff2"),
		url(/static/fonts/SourceSerif/SourceSerif4Variable-Roman.otf) format("opentype");
	font-display: swap;
}
@font-face {
	font-family: 'Source Serif';
	font-style: italic;
	src:
		url(/static/fonts/SourceSerif/SourceSerif4Variable-Italic.otf.woff2) format("woff2"),
		url(/static/fonts/SourceSerif/SourceSerif4Variable-Italic.otf) format("opentype");
	font-display: swap;
}
@font-face {
	font-family: 'Monaspace Xenon Var';
	font-style: normal;
	src:
		url(/static/fonts/Monaspace/MonaspaceXenonVarVF.woff2) format("woff2"),
		url(/static/fonts/Monaspace/MonaspaceXenonVarVF.ttf) format("truetype");
	font-display: swap;
}

body {
	font-family: 'Source Serif', serif;
	font-size: 18px;
	/* font-variation-settings: 'wght'300; */
	background: url("/static/background.jpg");
}

@media only screen and (min-width: 480px) {
	main {
		padding: 2em 3em!important;
	}
}

article p,
article nav {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

a.mavenLinkBold {
	font-variation-settings: 'wght'600;
}

strong {
	font-variation-settings: 'wght'600;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
.header-font {
	font-family: inherit;
    font-weight: 700!important;
}

h1 { font-size: 250%!important; }
h2 { font-size: 200%!important; margin: 1em 0 0.5em 0!important; }
h3 { font-size: 150%!important; }

svg {
	display: inline-block!important;
}

.header-logo {
	max-height: 10em;
	float: right;
	margin-left: 2em;
	margin-bottom: 2em;
}

@media only screen and (max-width: 1000px) {
	.header-logo {
		max-height: 6em;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

blockquote {
	position: relative;
	padding-left: 3em;
	margin: 1.5em 0 2em 0;
}

blockquote .cite {
	font-size: 90%;
	opacity: 0.8;
	font-style: italic;
}

blockquote::before,
blockquote::after {
	font-size: 500%;
	position: absolute;
	opacity: 0.2;
}

blockquote::before {
	content: "â€";
	font-weight: 700;
	left: 0.5rem;
	top: -2rem;
}
	
.footnotes {
	border-top: .15em solid gray;
	padding-top: 0.5em;
	margin-top: 2em;
	opacity: 0.7;
}

.footnotes li {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.footnotes i::after {
	content: ".";
}

code {
	font-family: "Monaspace Xenon Var", monospace;
	font-feature-settings: "dlig" on;
	color: hsl(230, 8%, 24%);
	line-height: 1.5rem;
	font-size: 1rem;
}

code::before {
	content: attr(data-filename);
	display: inline-block;
	float: right;
	opacity: 0.5;
}

*::selection {
	background: hsl(230, 1%, 90%);
	color: inherit;
}

/* Code blocks */
pre {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.2em 0.3em;
	border-radius: 0.3em;
	white-space: normal;
}

/* Heist error element */
.error {
  color: lightcoral;
  font-size: 90%;
  font-family: monospace;
}

/* Callouts */
.callout {
	border-radius: 0.5em;
	display: flex;
	flex-direction: row;
}

.callout-title {
	width: 3em;
	margin-right: 0.75em;
	background-image: url('/static/pointing_hand.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
}

.callout-content {
	flex: 1;
}

.callout-title .callout-title-inner {
	display: none
}

/* External link icon */
a[data-linkicon=""]::after {
	content: ""
}

a[data-linkicon=none]::after {
	content: ""
}

a[data-linkicon="external"]::after {
	content: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" height="0.7em" viewBox="0 0 20 20"> \
		<g style="stroke:gray;stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"	/> \
			<line x1="10" y1="2" x2="17" y2="2"	/> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.0" /> \
		</g> \
	</svg>');
}

a[data-linkicon="external"][href^="mailto:"]::after {
	content: url('data:image/svg+xml,\
		<svg \
			xmlns="http://www.w3.org/2000/svg" \
			height="0.7em" \
			fill="none" \
			viewBox="0 0 24 24" \
			stroke="gray" \
			stroke-width="2"> \
			<path \
				stroke-linecap="round" \
				stroke-linejoin="round" \
				d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" /> \
		</svg>');
}
